<footer class="footer">
    <div class="container">
        <p>Demo template built on <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://github.com/romeOz">@romeo</a>.</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>
<ul class="global-notifications ng-hide"
    data-ng-show="notifications"
    data-ng-controller="NotificationController"
    [[+$root.notifications && `data-ng-init='merge([[+$root.notifications:toJson]])'`]]>
    <li class="alert" data-alert data-ng-repeat="notification in notifications" data-type="{{notification.type || 'danger'}}" data-close="closeAlert($index)" data-dismiss-on-timeout="4000"><span ng-bind-html="notification.msg|unsafe"></span></li>
</ul>